@import "tailwindcss";

@font-face {
  font-family: 'Plus';
  src: url('./assets/fonts/PlusJakartaSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: black;
  font-family: 'Plus', sans-serif;
}